*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body{
    background-color: #0B0B0B;
    color: #FFFFFF;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 30px 10px;
}

.button{
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 30px 62px;
    display: inline-block;
    transition: all .3s;
    &:hover{
        background-color: #770302;
    }
}

.header{
    background: rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 2;
    height: 100vh;
    left: 0;
    right: 0;
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        &-btn{
            cursor: pointer;
            padding: 12px;
            border: 1px solid #fff;
            width: 60px;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.1);
            div{
                height: 2px;
                background-color: #fff;
                margin-bottom: 13px;
            }
        }
    }
    &__title{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 96px;
        line-height: 112px;
        margin-bottom: 40px;
    }
    &__text{
        font-family: 'Roboto Condensed';
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        width: 284px;
        margin-bottom: 25px;
    }
}

.menu{
    background-color: #0B0B0B;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 4;
    transition: all .3s;
    &__list{
        height: 100vh;
        display: flex;
        align-items: center;
        &-li{
           list-style: none; 
        }
        &-link{
            font-family: 'Roboto Condensed';
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            color: #fff;
            border-bottom: 3px solid #B70021;
            margin-bottom: 30px;
            padding-bottom: 25px;
            display: inline-block;
            min-width: 370px;
            transition: all .3s;
            &:hover{
                border-bottom: 3px solid #fff;
            }
        }
    }
    &.active{
        left: 0;
    }
}

.container-menu{
    position: relative;
}

.close__btn{
    cursor: pointer;
    background-color: #0B0B0B;
    position: absolute;
    top: 35px;
    right: 15px;
    width: 50px;
    height: 50px;
    &::after,
    &::before{
        content: "";
        width: 70px;
        height: 2px;
        position: absolute;
        background-color: #fff;
        z-index: 6;
    }
     &::after{
         transform: rotate(-45deg);
         top: 25px;
         left: -10px;
     }
     &::before{
         transform: rotate(45deg);
         top: 25px;
         left: -9px;
     }
}


.slider__item{
    height: 100vh;
    background-size: cover;
}

.slick-dots{
    list-style: none;
    margin: -55px auto 0;
    position: relative;
    z-index: 3;
    max-width: 1200px;
    li{
        display: inline-block;
        button{
            background-color: #0B0B0B;
            margin: 0 10px;
            outline: none;
            border-radius: 50%;
            border: none;
            font-size: 0;
            height: 15px;
            width: 15px;
        }
    }
    .slick-active button{
        background-color: #FFFFFF;
    }
}

.about__top{
    display: flex;
    justify-content: space-between;
    padding: 105px 0 100px;
    &-item{
        text-align: center;
    }
    &-title{
        font-family: 'Roboto Condensed';
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 19px;
    }
    &-text{
        font-family: 'Roboto';
        font-size: 96px;
        line-height: 112px;
        position: relative;
        margin-bottom: 7px;
        span{
            font-family: 'Roboto Condensed';
            font-size: 24px;
            line-height: 28px;
        }
        &-bottom{
            font-family: 'Roboto Condensed';
            font-size: 24px;
            line-height: 28px;
            color: #B70021;
        }
        &-speed::after{
            content: "+";
            position: absolute;
            top: 0;
            right: 40px;
            font-family: 'Roboto Condensed';
            font-size: 24px;
            line-height: 28px;
        }
    }
}

.advantages{
    padding-top: 100px;
    font-family: 'Roboto Condensed';
    &__item{
        padding-bottom: 100px;
        &-row{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-descr{
            max-width: 570px;
            width: 100%;
            ul{
                list-style: none;
            }
        }
    }
    &__title{
        font-size: 36px;
        line-height: 42px;
        color: #B70021;
        position: absolute;
        top: 0;
        &--bottom{
            right: 0;
            bottom: 0;
            top: auto;
        }
    }
    &__text{
        width: 300px;
        font-size: 24px;
        line-height: 28px;
    }
}

.bottom{
    padding-bottom: 100px;
    font-family: 'Roboto Condensed';
    font-size: 24px;
    line-height: 28px;
    img{
        margin-bottom: 100px;
    }
    &__descr{
        display: flex;
        justify-content: space-between;
        &-item{
            max-width: 570px;
            width: 100%;
            padding-right: 15px;
            display: flex;
            justify-content: space-between;
        }
        &-title{
            color: #B70021;
        }
        &-text{
            max-width: 430px;
            padding-top: 25px;
        }
    } 
}

.footer{
    padding-top: 83px;
    background-color: #690102;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    &__btn{
        margin-bottom: 80px;
    }
    &__links{
        text-align: center;
        &-list{
            list-style: none;
            li{
                display: inline-block;
                margin: 0 15px;
                position: relative;
            }
            li + li::before{
                content: '|';
                position: absolute;
                left: -20px;
            }
        }
    }
    &__link{
        color: #FFFFFF;
    }
}